.form-line{
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    width: 60px;
    display: inline-block;
    text-align: center;
}
.form-line .imput{
    height: 30px;
    line-height: 25px;
    width:200px;
    font-size: 14px;
}